*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    min-height: 100vh;
    padding: 0px;
    background: #f9fdfd; 
    flex-direction: column;
    align-items: center;
}

nav{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #333;
    color: #efefef;
    line-height: 80px;
}

ul {
    margin-left: 30px;
}

ul li{
    list-style: none;
    display: inline-block;
}

ul li a{
    display: block;
    text-decoration: none;
    font-size: 17px;
    color: #efefef;
    padding: 0 30px;
    font-weight: 500;
}

ul li a:hover {
    color: #333;
    background-color: #f4fffd;
    transition-duration: 400ms;
}

.navright{
    list-style: none;
    display: inline-block;
    margin-left: auto;
}

.logInput{
    margin-top: 7%;
    max-width: 660px;
    max-height: 700px;
    width: 100%;
    height: 400px;
    background: #f4fffd;
    padding: 30px 40px;
    border-radius: 10px;
    filter: drop-shadow(0 25px 20px rgb(0 0 0 / 0.1))
}

.logInput .title{
    font-size: 30px;
    font-weight: 500;
    position: relative;
    bottom: 15px;
    text-align: center;
}

.logInput .loginInput{
    font-size: 17px;
    font-weight: 300;
    padding: 0 0 30px 0;
}

.loginInput .inputBox input{
    height: 40px;
    width: 100%;
    outline: none;
    border: 2px solid rgb(227, 240, 252);
    border-radius: 6px;
    margin-top: 2px;
    margin-bottom: 15px;
}

button {
    background-color: #333;
    color: white;
    padding: 15px 0;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 6px;
}

button:hover {
    background-color: rgb(5, 12, 53);
    transition-duration: 300ms;
}

button a{
    color: #efefef;
    text-decoration: none;
}

.links {
    text-align: right;
    justify-content: space-between;
    margin-top: 10px;
    display: flex;
    float: right;
}

.links a{
    color: rgb(0, 3, 151);
    text-decoration: none;
    font-weight: 400;
    margin-left: 3px;
}

footer{
    text-align: center;
    margin-top: auto;
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.foot{
    top: 100%;
    padding: 20px 70px;
    background: #333;
    color: #efefef;
    display: flex;
    min-height: 100%;
    bottom: 0;
    left: 0;
}

.foot div{
    text-align: center;
}

.col2{
    flex-grow: 2;
}

.logo {
    margin-top: 30px;
    margin-left: 10%;
}

.col3 p{
    font-weight: 300;
    letter-spacing: 1px;
}

.foot div h3{
    font-weight: 500;
    margin-bottom: 15px;
    letter-spacing: 1px;
    font-size: 20px;
}

.col1 a{
    display:block;
    text-decoration: none;
    color: #838282;
    margin-bottom: 10px;
    font-size: 17px;
}

.col1 a:hover{
    color: #efefef;
    transition-delay: 50ms;
}